<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ /* Copyright (C) 2017 Chamod Shehanka - All Rights Reserved
  ~  * You may use, distribute and modify this code under the
  ~  * terms of the Chamod Shehanka license, which unfortunately won't be
  ~  * written for another century.
  ~  *
  ~  * You should have received a copy of the Chamod Shehanka license with
  ~  * this file. If not, please write to: , or visit : http://chamodshehanka.com/
  ~  */
  -->

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialectdialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/thogakade</property>
        <property name="connection.username">root</property>
        <property name="connection.password">wampwamp</property>


        <property name="show_sql">true</property>
        <!--<property name="hibernate.hbm2ddl.auto">create</property>-->
        <mapping class="dto.Customer"/>
        <mapping class="dto.Item"/>
        <mapping class="dto.Order"/>
        <mapping class="dto.OrderDetail"/>


    </session-factory>
</hibernate-configuration>